<template lang="">
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <div class="text-center">
          <img
            src="https://lh3.googleusercontent.com/a-/AOh14GgobP9aGrz5dHDlK2A_LBq6mnkgnSJ1RbJMB00I=s288-p-rw-no"
            class="avatar img-circle img-thumbnail"
            alt="avatar"
          />
          <h6>Upload a photo...</h6>
          <input type="file" class="form-control file" />
        </div>
      </div>
      <div class="col-md-9 personal-info">
        <Form @submit.prevent>
          <table class="tablecontent">
            <tr>
              <th>{{ $t("first_name") }}</th>
              <Field
                class="form-control"
                v-model="firstName"
                type="text"
                name="FirstName"
                :rules="validateName"
                required
              />
              <p class="ErrorMessage">
              <ErrorMessage v-model="err2" class="errnotice" name="FirstName" />
              </p>
            </tr>

            <tr>
              <th>{{ $t("last_name") }}</th>
              <Field
                class="form-control"
                v-model="lastName"
                type="text"
                name="LastName"
                :rules="validateName"
                required
              />
              <p class="ErrorMessage">
              <ErrorMessage class="errnotice" name="LastName" />
              </p>
            </tr>           
            <tr>
              <th>{{ $t("address") }}</th>
              <Field
                class="form-control"
                v-model="showAddress"
                type="text"
                name="inputaddress"
                :rules="validateAddress"
                required
              />
              <p class="ErrorMessage">
              <ErrorMessage class="errnotice" name="inputaddress" />
              </p>
            </tr>
            <tr>
              <th>Email:</th>
              <Field
                class="form-control"
                v-model="showEmail"
                type="email"
                name="email"
                :rules="validateEmail"
                required
              />
              <p class="ErrorMessage">
              <ErrorMessage class="errnotice" name="email" />
              </p>
            </tr>
            <tr>
              <th>{{ $t("phone_number") }}</th>
              <Field
                class="form-control"
                v-model="showPhone"
                type="tel"
                name="phonenumber"
                :rules="validatePhone"
                required
              />
              <p class="ErrorMessage">
              <ErrorMessage class="errnotice" name="phonenumber" />
              </p>
            </tr>
            <tr class="gender">
              <th>{{ $t("gender") }}</th>
              <Field
                v-model="gender"
                type="radio"
                id="male"
                name="sex"
                value="Male"
                class="inputsex form-check-input"
                :rules="validateGender"
                required
              />
              <label class="form-check-label genderlabel" for="male"
                >{{ $t("male") }}</label>
              <Field
                class="inputsex form-check-input"
                v-model="gender"
                type="radio"
                id="female"
                name="sex"
                value="FeMale"
                required
              />
              <label class="form-check-label genderlabel" for="male"
                >{{ $t("female") }}</label>
              <Field
                class="inputsex form-check-input"
                v-model="gender"
                type="radio"
                id="underfine"
                name="sex"
                value="underfine"
              />
              <label class="form-check-label genderlabel" for="underfine"
                >{{ $t("undefine") }}</label
              >
              <p class="ErrorMessage">
              <ErrorMessage class="errnotice" name="sex" />
              </p>
            </tr>
            <tr>
              <th>{{ $t("province") }}</th>
              <select
                v-model="provincesId"
                class="form-control"
                @change="getDis"
              >
                <optgroup label="Select One Province">
                  <option
                    v-for="province in address"
                    :key="province.level1_id"
                    :value="province.level1_id"
                  >
                    {{ province.name }}
                  </option>
                </optgroup>
              </select>
              <p class="ErrorMessage">
              <ErrorMessage class="errnotice" name="province" />
              </p>
            </tr>
            <tr>
              <th>{{ $t("district") }}</th>
              <select
                v-model="districtsId"
                @change="getWardId"
                class="form-control"
              >
                <optgroup label="Select One District">
                  <option
                    v-for="district in dis"
                    :key="district.level2_id"
                    :value="district.level2_id"
                  >
                    {{ district.name }}
                  </option>
                </optgroup>
              </select>
            </tr>
            <tr>
              <th>{{ $t("commune") }}</th>
              <select @change="getWard" v-model="wardId" class="form-control">
                <optgroup label="Select One District">
                  <option
                    v-for="wardId in ward"
                    :key="wardId.level3_id"
                    :value="wardId.level3_id"
                  >
                    {{ wardId.name }}
                  </option>
                </optgroup>
              </select>
            </tr>
            <br />
            <tr></tr>
            <th></th>
            <div>
              <button type="submit" @click="sendName" class="button show">
                {{ $t("show_information") }}
              </button>
            </div>
          </table>
        </Form>
      </div>
    </div>
  </div>
</template>

<script>
import { Form, Field, ErrorMessage } from "vee-validate";
// import * as yup from "yup";
import axios from "axios";
import { ref } from "@vue/reactivity";

export default {
  components: {
    Form,
    Field,
    ErrorMessage,
  },
  setup() {
    axios
      .get("dvhcvn.json")
      .then((response) => {
        address.value = response.data.data;
      })
      .catch((error) => {
        console.log("there was an error:" + error.response);
      });

    const getDis = () => {
      districtsId.value = undefined;
      wardId.value = undefined;
      province.value = address.value.filter((el) => {
        return el.level1_id === provincesId.value;
      })[0].name;
      dis.value = undefined
      ward.value= undefined
      dis.value = address.value.filter((el) => {
        return el.level1_id === provincesId.value;
      })[0].level2s;
    };

    const getWardId = () => {
      wardId.value = undefined;
      district.value = dis.value.filter((el) => {
        return el.level2_id === districtsId.value;
      })[0].name;
      ward.value = dis.value.filter((el) => {
        return el.level2_id === districtsId.value;
      })[0].level3s;
    };

    const getWard = () => {
      wardName.value = ward.value.filter((el) => {
        return el.level3_id === wardId.value;
      })[0].name;
    };
    const address = ref();
    const dis = ref();
    const ward = ref();
    const district = ref();
    const province = ref();
    const districtsId = ref();
    const wardId = ref();
    const provincesId = ref();
    const wardName = ref();

    return {
      ward,
      dis,
      address,
      getWard,
      getWardId,
      getDis,
      district,
      province,
      wardName,
      wardId,
      districtsId,
      provincesId,
      isShow: true,

    };
  },
  methods: {
    sendName() {
      this.$emit(
        "sendName",
        this.firstName,
        this.lastName,
        this.gender,
        this.showAddress,
        this.showEmail,
        this.showPhone,
        this.province,
        this.district,
        this.wardName,
        this.isShow
      );
    },
    validateEmail(value) {
      if (!value) {
        return this.$t("require");
      }
      const regex = /^[A-Z0-9._%+-]+@[A-Z0-9.-]+\.[A-Z]{2,4}$/i;
      if (!regex.test(value)) {
        return "This field must be a valid email";
      }
      return true;
    },
    validatePhone(value) {
      if (!value) {
        return this.$t("require");
      }
      const regex = /\(?([0-9]{3})\)?([ .-]?)([0-9]{3})\2([0-9]{4})/;
      if (!regex.test(value)) {
        return "this field must be a Phone Number";
      }
      return true;
    },
    validateName(value) {
      if (!value) {
        return this.$t("require");
      }
      const regex = /^[a-zA-Z]+(?:-[a-zA-Z]+)*$/;
      if (!regex.test(value)) {
        return "this field must be a Name";
      }
      return true;
    },
    validateGender(value) {
      return value ? true : this.$t("require");
    },
    validateAddress(value){
       if (!value) {
        return "4444444";
      }
      const regex = /^[a-zA-Z]+(?:-[a-zA-Z]+)*$/;
      if (!regex.test(value)) {
        return "this field must be a Name";
      }
      return true;
    }
  },
};
</script>

<style scoped>
.vshow {
  margin-top: 20px;
  color: black;
  text-align: initial;
  width: 505px;
  height: auto;
  border: 2px solid gray;
}

.vshow th {
  margin-right: 500px;
  margin-left: 100px;
}

h5 {
  color: blue;
}

table .form-control {
  width: 420px;
  height: 35px;
  margin-left: 6px;
}

table tr input,select {
  margin-bottom: 20px;
}

th {
  vertical-align: text-bottom;
  webkit-text-emphasis-style: filled;
  color: dodgerblue;
}

.button {
  border-radius: 10px;
  background-color: dodgerblue;
  color: white;
  height: 35px;
}

.form-control {
  height: 100%;
  width: 100%;
  margin-top:15px;
}
.inputsex {
  margin-left: 30px;
}

.genderlabel {
  margin-left: 5px;
}
.gender{
  margin-bottom: -10px;
}

.tablecontent th {
  text-align: initial;
}

.errnotice {
  color: red;
  font-size: 15px;
  margin-top: -11px;
  font-family: "Times New Roman", Times, serif;
}
.container {
  width: 70%;
}
.ErrorMessage{
  margin-top: -19px;
  margin-bottom: 5px;
}
</style>
