<template>
<p class="tru">Lorem Ipsum is simply dummy text of the printing and typesetting industry.Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
</p>

<div style="width:200px;height:100vh">
<div class="cal w-100 h-100" style="background-color:rgb(0, 0, 0)"> 
   <div class="ok h-50" style="background-color:red">
      <h4>àafas</h4>
   </div>
   <div class="ok h-25" style="background-color:rgb(137, 241, 0)">
      <h4>àafas</h4>
   </div>
   <div class="ok h-25" style="background-color:rgb(0, 4, 252)">
      <h4>àafas</h4>
   </div>
   <div class="ok h-50" style="background-color:rgb(255, 0, 157)">
      <h4 class="text-center">àafas</h4>
   </div>
</div>
</div>



<div class="d-flex -start flex-column mb-3" style="height: 400px;">
  <div class="mt-auto p-2 bd-highlight">Flex item</div>
  <div class="p-2 bd-highlight">Flex item</div>
  <div class="p-2 bd-highlight">Flex item</div>
</div>

<div class="d-flex align-items-end flex-column bd-highlight mb-3" style="height: 200px;">
  <div class="p-2 bd-highlight">Flex item</div>
  <div class="p-2 bd-highlight">Flex item</div>
  <div class="mb-auto p-2 bd-highlight">Flex item</div>
</div>





<div style="background-color:rgb(202, 202, 202)" class="d-flex flex-column  vh-100 vw-100 "> 
<div class=" align-self-center ">qSSSSSSSSS</div>
<div class=" align-self-stretch">
  <div class=" justify-content-end">.tRS..</div>
<div class=" justify-content-center">.w..</div>
<div class=" justify-content-between">.u..</div>
<div class=" justify-content-around">..tu.</div>
<div class=" justify-content-evenly">.wtw..</div> 
</div>

</div>














<div bg="primary" style="width:200px;height:200px;background-color:blue"> 
<div class="d-flex flex-column justify-content-center">asssssss</div>
<div class="d-flex justify-content-end">.a..</div>
<div class="d-flex justify-content-center">..azzzzzzz.</div>
<div class="d-flex justify-content-between">.a..</div>
<div class="d-flex justify-content-around">...a</div>
</div>


<div class="d-flex flex-row justify-content-sm-center justify-content-md-center p-1 mb-2 bg-secondary">
      <div class="m-1 p-1 bg-light" style="width: 300px;">Flex Item 1</div>
      <div class="m-1 p-1 bg-light" style="width: 300px;" >Flex Item 2</div>
      <div class="m-1 p-1 bg-light " style="width: 300px;">Flex Item 3</div>
      <a href=""><p class="sidebox align-middle">SD</p></a>
      <a href=""><p class="sidebox">AS</p></a>
      <a href=""><p class="sidebox">DE</p></a><br>
      <a href=""><p class="sidebox">+</p></a>
   </div>

  <div class="container-fluid">
         <h4>.d-flex</h4>
         <div class="d-flex p-2 bg-primary">
            I'm a flexbox container!
         </div>
         <h4 class="mt-4">.d-inline-flex</h4>
         <div class="d-inline-flex p-2 bg-secondary">
            I'm an inline flexbox container!
            .. .... .... ...... ...... .........
         </div>
      </div>


<div class= "container-fluid">
   <h4 class="mb-3">.position-absolute example</h4>

   <div class="position-relative border border-danger" style="height:250px;">
      .position-relative
      <div class="position-absolute border bg-info"
         style="bottom:40px;right:35px;top: 100px;left:150px;">
         .position-absolute (bottom:40px;right:35px;top: 100px;left:150px;)
      </div>
   </div>

</div>
<!-- <div class= "container-fluid">
   <h4 class="mb-3">.position-absolute example</h4>

   <div class="position-relative border border-danger" style="height:200px;">
      .position-relative

      <div class="position-absolute border bg-info" style="bottom:10px; right:15px;">
         .position-absolute (bottom:10px; right:15px;)
      </div>

   </div>

</div> -->
<!-- <div class= "container-fluid">
   <h4>.position-fixed</h4>

   <div class="position-fixed border bg-info"
      style="bottom:40px;right:35px;top: 100px;left:150px;">
      .position-fixed <br>

      (bottom:40px;right:35px;top: 100px;left:150px;)
   </div>

   <p>Info.. 1</p>
   <p>Info.. 2</p>
   <p>Info.. 3</p>
   <p>Info.. 4</p>
   <p>Info.. 5</p>
</div> -->











<div class="position-relative">
  <div class="position-absolute top-0 start-0">AB</div>
  <div class="position-absolute top-0 end-0">AC</div>
  <div class="position-absolute top-50 start-50">AD</div>
  <div class="position-absolute bottom-50 end-50">AAS</div>
  <div class="position-absolute bottom-0 start-0">AAS</div>
  <div class="position-absolute bottom-0 end-0">AAS</div>
</div>
<div class= "container-fluid">
   <h4>.position-static</h4>
   <div class="position-static border">
      This div element has position: static;
   </div>
   <br>
   <h4>.position-static + style: left:50px</h4>
   <div class="position-static border" style="left:50px">
      This div element has position: static;
   </div>
</div>


<div class= "container-fluid">
   <h4>.position-relative</h4>
   <div class="position-relative border" style="width:450px;">
      .position-relative (width:450px)
   </div>
   <br>
   <h4>.position-relative + style (left:50px; top:50px;)</h4>
   <div class="position-relative border" style="left:50px; top:50px; width:450px;">
      .position-relative (width:450px; left:50px; top:50px;)
   </div>
</div>


  <!-- <div class="d-flex p-2 bd-highlight">I'm a flexbox container!</div>
  <div class="d-inline-flex p-2 bd-highlight">I'm an inline flexbox container!</div>
  <div class="d-flex flex-row bd-highlight mb-3">
  <div class="p-2 bd-highlight">Flex item 1</div>
  <div class="p-2 bd-highlight">Flex item 2</div>
  <div class="p-2 bd-highlight">Flex item 3</div>
  <h5>ss</h5>
  <h5>aaaaaa</h5>
  <p>bui van trung</p>
</div>

<div class="d-flex flex-row-reverse bd-highlight">
  <div class="p-2 bd-highlight">Flex item 1</div>
  <div class="p-2 bd-highlight">Flex item 2</div>
  <div class="p-2 bd-highlight">Flex item 3</div>
</div>

<div class="d-flex flex-column bd-highlight mb-3">
  <div class="p-2 bd-highlight">Flex item 1</div>
  <div class="p-2 bd-highlight">Flex item 2</div>
  <div class="p-2 bd-highlight">Flex item 3</div>
</div>
<div class="d-flex flex-column-reverse bd-highlight">
  <div class="p-2 bd-highlight">Flex item 1</div>
  <div class="p-2 bd-highlight">Flex item 2</div>
  <div class="p-2 bd-highlight">Flex item 3</div>
</div>

<div class="d-flex justify-content-start">...</div>
<div class="d-flex justify-content-end">...</div>
<div class="d-flex justify-content-center">...</div>
<div class="d-flex justify-content-between">...</div>
<div class="d-flex justify-content-around">...</div>
<div class="d-flex justify-content-evenly">...</div>

<div class="d-flex align-items-start">...</div>
<div class="d-flex align-items-end">...</div>
<div class="d-flex align-items-center">...</div>
<div class="d-flex align-items-baseline">...</div>
<div class="d-flex align-items-stretch">...</div>

<div class="align-self-start">Aligned flex item</div>
<div class="align-self-end">Aligned flex item</div>
<div class="align-self-center">Aligned flex item</div>
<div class="align-self-baseline">Aligned flex item</div>
<div class="align-self-stretch">Aligned flex item</div>

<div class="d-flex bd-highlight">
  <div class="p-2 flex-fill bd-highlight">Flex item</div>
  <div class="p-2 flex-fill bd-highlight">Flex item</div>
  <div class="p-2 flex-fill bd-highlight">Flex item</div>
  <div class="p-2 flex-fill bd-highlight">Flex item</div>
  <div class="p-2 flex-fill bd-highlight">Flex item</div>
  <div class="p-2 flex-fill bd-highlight">Flex item</div>
  <div class="p-2 flex-fill bd-highlight">Flex item</div>
  <div class="p-2 flex-fill bd-highlight">Flex item</div>
  <div class="p-2 flex-fill bd-highlight">Flex item</div>
  <div class="p-2 flex-fill bd-highlight">Flex item</div>
  <div class="p-2 flex-fill bd-highlight">Flex item</div>
</div>


<div class="d-flex bd-highlight">
  <div class="p-2 flex-grow-1 bd-highlight">trungFlex item</div>
  <div class="p-2 bd-highlight">trungFlex item</div>
  <div class="p-2 bd-highlight">trungThird flex item</div>
  <div class="p-2 bd-highlight">trungThird flex item</div>
</div>

<div class="d-flex bd-highlight">
  <div class="p-2 w-100 bd-highlight">Flex item</div>
  <div class="p-2 flex-shrink-1 bd-highlight">Flex item item item item item item item item    item</div>
</div>


<div class="d-flex bd-highlight mb-3">
  <div class="p-2 bd-highlight">Flex item</div>
  <div class="p-2 bd-highlight">Flex item</div>
  <div class="p-2 bd-highlight">Flex item</div>
</div>

<div class="d-flex bd-highlight mb-3">
  <div class="me-auto p-2 bd-highlight">Flex item</div>
  <div class="p-2 bd-highlight">Flex item</div>
  <div class="p-2 bd-highlight">Flex item</div>
</div>

<div class="d-flex bd-highlight mb-3">
  <div class="p-2 bd-highlight">Flex item</div>
  <div class="p-2 bd-highlight">Flex item</div>
  <div class="ms-auto p-2 bd-highlight">Flex item</div>
</div>


<div class="d-flex flex-nowrap bd-highlight">
  <div class="order-3 p-2 bd-highlight">First flex item</div>
  <div class="order-2 p-2 bd-highlight">Second flex item</div>
  <div class="order-1 p-2 bd-highlight">Third flex item</div>
  <div class="order-1 p-2 bd-highlight">Third flex item</div>
  <div class="order-1 p-2 bd-highlight">Third flex item</div>
  <div class="order-1 p-2 bd-highlight">Third flex item</div>
  <div class="order-1 p-2 bd-highlight">Third flex item</div>
  <div class="order-1 p-2 bd-highlight">Third flex item</div>
<h5  class="order-4 p-2 bd-highlight">aaaaaaaaaaaaaaa</h5>
</div>
<div class="d-flex align-content-around    flex-wrap">
  First flex item First flex item First flex item First flex item First flex item
<h5>  First flex item First flex item First flex item First flex item First flex item</h5>
<h1>  First flex item First flex item First flex item First flex item First flex item</h1>

</div>
<h5>  First flex item First flex item First flex item First flex item First flex item</h5> -->
</template>

<script>
export default {

}
</script>

<style>
body{
  font-family:sans-serif;
}



</style> 