<template lang="">
  <div>
     <div class="btnlanguage">
       Select Language:
      <a v-if="$i18n.locale !== 'Vietnamese'" v-on:click="changeLanguage('Vietnamese')">VI</a>
      <strong v-if="$i18n.locale === 'Vietnamese'">VI</strong>
      &nbsp;|&nbsp;
      <a v-if="$i18n.locale !== 'English'" v-on:click="changeLanguage('English')">EN</a>
      <strong v-if="$i18n.locale === 'English'">EN</strong>
    </div>
    <Bai1 class="bai1" @sendName="show"></Bai1>
    <div v-show="isShow" @click="showForm()" class="big">
      <table class="parent">
        <tr>
          <th>{{ $t("name") }}</th>
          {{ firstName }} {{ lastName }}
        </tr>
        <tr>
          <th>{{ $t("gender") }}</th>
          {{ gender }}
        </tr>
        <tr>
          <th>{{ $t("address") }}</th>
          {{ showAddress }}
        </tr>
        <tr>
          <th>Email:</th>
          {{ showEmail }}
        </tr>
        <tr>
          <th>{{ $t("phone_number") }}</th>
          {{ showPhone }}
        </tr>
        <tr>
          <th>{{ $t("province") }}</th>
          {{ provincesId }}
        </tr>
        <tr>
          <th>{{ $t("district") }}</th>
          {{ districtsId }}
        </tr>
        <tr>
          <th>{{ $t("commune") }}</th>
          {{ wardId }}
        </tr>
      </table>
    </div>
  </div>
</template>

<script>
import Bai1 from "./Bai1.vue";

export default {
  components: {
    Bai1,
  },
  data() {
    return {
      firstName: "",
      lastName: "",
      showAddress: "",
      showEmail: "",
      showPhone: "",
      gender: "",
      provincesId: "",
      districtsId: "",
      wardId: "",
      isShow: false,
    };
    
  },
  methods: {
    showForm() {
      this.isShow = !this.isShow;
    },
    changeLanguage(lang) {
      this.$i18n.locale = lang
    },
    show(p1, p2, p3, p4, p5, p6, p7, p8, p9, p10) {
      this.firstName = p1;
      this.lastName = p2;
      this.gender = p3;
      this.showAddress = p4;
      this.showEmail = p5;
      this.showPhone = p6;
      this.provincesId = p7;
      this.districtsId = p8;
      this.wardId = p9;
      if (this.firstName != undefined &&
          this.lastName != undefined &&
          this.showEmail != undefined &&
          this.showAddress != undefined &&
          this.showPhone != undefined &&
          this.gender != undefined &&
          this.provincesId != undefined &&
          this.districtsId != undefined &&
          this.wardId != undefined)
       {
        this.isShow = p10;
      }
    },
  },
};
</script>

<style scoped>
.big {
  float: left;
  /* display: flex; */
}
.bai1 {
  width: 1000px;
  float: left;
  margin-left: 50px;
}
.parent {
  float: left;
  height: 460px;
  width: 350px;
  margin-left: -110px;
  border: 5px outset ghostwhite;
  text-align: left;
  margin-top: 20px;
}
table .form-control {
  width: 500px;
  height: 40px;
  margin-left: 6px;
}
th {
  vertical-align: text-bottom;
  webkit-text-emphasis-style: filled;
  color: dodgerblue;
}
.button {
  border-radius: 10px;
  background-color: dodgerblue;
  color: white;
  height: 35px;
}
.form-control {
  height: 100%;
  width: 100%;
}
.btnlanguage{
  margin-left: -70px;
  cursor: pointer;
}
</style>
