<template lang="">
  <div>
    <div class="container">
      <h2 class="yourinfo">{{ $t("yourinfo") }}</h2>
      <table class="parent">
        <tr>
          <th>{{ $t("name") }}</th>
          {{
            firstName
          }}
          {{
            lastName
          }}
        </tr>
        <tr>
          <th>{{ $t("gender") }}</th>
          {{
            gender
          }}
        </tr>
        <tr>
          <th>{{ $t("address") }}</th>
          {{
            showAddress
          }}
        </tr>
        <tr>
          <th>Email:</th>
          {{
            showEmail
          }}
        </tr>
        <tr>
          <th>{{ $t("phone_number") }}</th>
          {{
            showPhone
          }}
        </tr>
        <tr>
          <th>{{ $t("province") }}</th>
          {{
            provincesId
          }}
        </tr>
        <tr>
          <th>{{ $t("district") }}</th>
          {{
            districtsId
          }}
        </tr>
        <tr>
          <th>{{ $t("commune") }}</th>
          {{
            wardId
          }}
        </tr>
      </table>
      <button type="button" @click="backpage" class="buttonback">
        {{ $t("button_back") }}
      </button>
    </div>
  </div>
</template>

<script>
import { computed } from "@vue/reactivity";
import { useRoute, useRouter } from "vue-router";
export default {
  setup() {
    const route = useRoute();
    const router = useRouter();
    console.log(route.query);
    const firstName = computed(() => route.query.firstName);
    const lastName = computed(() => route.query.lastName);
    const showEmail = computed(() => route.query.showEmail);
    const gender = computed(() => route.query.gender);
    const showAddress = computed(() => route.query.showAddress);
    const showPhone = computed(() => route.query.showPhone);
    const provincesId = computed(() => route.query.provincesId);
    const districtsId = computed(() => route.query.districtsId);
    const wardId = computed(() => route.query.wardId);
    return {
      firstName,
      lastName,
      showEmail,
      gender,
      showAddress,
      showPhone,
      provincesId,
      districtsId,
      wardId,
      router,
    };
  },
  methods: {
    backpage() {
      this.router.push({
        name: "Home",
      });
    },
  },
};
</script>

<style scoped>
.parent {
  height: 460px;
  width: 450px;
  border: 5px outset ghostwhite;
  text-align: left;
  margin-top: 10px;
}
th {
  vertical-align: text-bottom;
  webkit-text-emphasis-style: filled;
  color: dodgerblue;
}
.container {
  margin-left: 450px;
}
.yourinfo {
  margin-right: 660px;
}
button {
  border-radius: 10px;
  background-color: dodgerblue;
  color: white;
  height: 35px;
  width: 100px;
}
.buttonback{
  margin-right: 660px;
  margin-top: 15px;
}
</style>
