/* TRUNGMARK STYLE */
.btn-outline-violet {
    color: #564D7C;
    border-color: #564D7C;
  }
  .btn-outline-violet:hover {
    color: #fff;
    background-color: #564D7C;
    border-color: #564D7C;
  }
  .btn-check:focus + .btn-outline-violet, .btn-outline-violet:focus {
    box-shadow: 0 0 0 0.25rem rgba(25, 135, 84, 0.5);
  }
  .btn-check:checked + .btn-outline-violet, .btn-check:active + .btn-outline-violet, .btn-outline-violet:active, .btn-outline-violet.active, .btn-outline-violet.dropdown-toggle.show {
    color: #fff;
    background-color: #564D7C;
    border-color: #564D7C;
  }
  .btn-check:checked + .btn-outline-violet:focus, .btn-check:active + .btn-outline-violet:focus, .btn-outline-violet:active:focus, .btn-outline-violet.active:focus, .btn-outline-violet.dropdown-toggle.show:focus {
    box-shadow: 0 0 0 0.25rem rgba(25, 135, 84, 0.5);
  }
  .btn-outline-violet:disabled, .btn-outline-violet.disabled {
    color: #564D7C;
    background-color: transparent;
  }
  
  
  .text-violet {
    --bs-text-opacity: 1;
    color: #564D7C;
  }


  .w-20 {
    width: 20% !important;
  }
  
  .w-45 {
    width: 45% !important;
  }
  
  .w-70 {
    width: 75% !important;
  }
  
  .w-95 {
    width: 95% !important;
  }
  .h-20 {
    height: 20% !important;
  }
  
  .h-45 {
    height: 45% !important;
  }
  
  .h-70 {
    height: 70% !important;
  }
  
  .h-95 {
    height: 95% !important;
  }