<template>
    <div style="font-size:13px;">
        <left class="float-start"></left>
        <sidebar></sidebar>
        <!-- <mainApp></mainApp> -->
        <!-- <right></right> -->
        
    </div>
</template>
<script>
import left from './Left'
import sidebar from './SideBar'
// import right from './Right'
export default {
    components: { left, sidebar }
}
</script>

<style>

</style>