<template>
  <div class="big ms-3">
      <div class=" mt-4" style="display:flex">
      <h6 class="ms-3 fw-bold" style="color:#363050">App</h6>
      <i class="far fa-star ms-2 mt-1"></i>
      <div style="margin-left: 350px;">
        <i class="mx-4 fas fa-phone-alt" style="color: #80909F"></i>
        <i class="mx-4 fas fa-video" style="color: #80909F"></i>
        <i class="mx-4 fas fa-user-plus" style="color: #80909F"></i>
      </div>
      <div style="margin: -8px 0 0 10px">
        <input type="text" class="form-control" style="border-radius:10px;font-size: 13px;height:35px;width: 300px;" 
        placeholder="Search in Management Team">
      </div>
      <div>
        <i class="fas fa-search fa-lg absolute right-3 top-2 cursor-pointer" style="color: #80909F;margin-left: -35px;"></i>
      </div>
    </div>
  </div>
</template>

<script>
export default {

}
</script>

<style>

</style>