<template>
<div >
  <div class="modal-dialog-centered modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <p style="margin-top: -10px;" class="fw-normal lead fs-4">Create a New Channel</p>
        <button style="margin-top: -35px;" type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="ms-3 me-2">
      <p>Discuss a specific topic or project and make it available for everyone or keep it limited to only certain people.</p>
      <div class="channel-type">
        <p class="fw-normal lead fs-6">CHANNEL TYPE</p>
        <div >
          <input type="radio" class="w-25 p-3 btn-check" name="options-outlined" id="select-public" autocomplete="off" checked>
          <label class="btn w-25 p-1 btn-outline-violet me-3" for="select-public">
          <img class="me-2" type="button" src="../PageApp/images/global.svg" alt="global" width="20">
          <span class="mt-1">Public</span></label>
          <input type="radio" class="btn-check" name="options-outlined" id="select-private" autocomplete="off">
          <label  class="btn w-25 p-1 btn-outline-violet " for="select-private"><i class="fas fa-lock me-2">
          </i><span>Private</span></label>
          <input type="checkbox" class="btn-check" id="btn-check-outlined" autocomplete="off">
        </div>
        
      </div>
      <form style="width:90%">
        <div class="channel-name mt-3">
        <p class="fw-normal lead fs-6">CHANNEL NAME</p>
        <input type="text" class="form-control w-100" placeholder="Input your channel name">
        <p class="fw-normal lead fs-6" style="margin-top:-7%">ADD COLLEAGUES TO YOUR CHANNEL</p>
        <input type="text" class="form-control w-100" placeholder="Type a name or email">
      </div>
      <button style="margin-left: 30%; margin-top: -50px;" type="submit" class="btn btn-success w-50 text-center">CREATE CHANNEL</button>
      </form>
    </div>
    </div>
  </div>
</div>
</template>

<script>
export default {

}
</script>

<style>

</style> 