<template>
  <div class="left vh-100 position-relative" style="width:5%;background-color: #363050;">
    <div class="header-img d-flex justify-content-center" style="height:9%">
      <img src="./images/icontop.svg" class="mt-2 w-50">
    </div>
    <hr style="color:white">
    <div class="below" style="height:60%;">
      <div class="menu-option d-flex flex-column align-items-center">
        <a href="#"><p class="sidebox">MT</p></a>
        <a href="#"><p class="sidebox">SD</p></a>
        <a href="#"><p class="sidebox">AS</p></a>
        <a href="#"><p class="sidebox">DE</p></a><br>
        <a href="#"><p class="sidebox">+</p></a>
      </div>
    </div>
     <div class="foot position-absolute container" style="bottom:1px">
       <div class="setting-option d-flex flex-column align-items-center">
         <a href="#" class="text-center">
          <i class="fas fa-puzzle-piece fa-lg"></i>
          <p class="text-sm text-center me-1">App</p>
         </a>
        <a href="#" class="text-center">
          <i class="fas fa-cog fa-lg"></i><br>
          <p class="text-sm ">Setting</p>
        </a>
        <a href="#" class="text-center">
          <i class="fas fa-question-circle fa-lg"></i>
          <p class="text-sm">Help</p>
        </a>
       </div>
    </div>
  </div>
</template>
<script>
export default {
}
</script>

<style>
.left .sidebox {
  height: 35px;
  width: 35px;
  border-radius: 10px;
  text-align: center;
  line-height: 35px;
  color: white;
  background-color: #2B2741;
}
.left a {
  text-decoration: none;
  color: white;
}
</style>