<template>
<div style="font-size:14px"> 
  <div class="side1 ">
    <img src="./images/Path7798.png" class="mt-3">
    <hr class="hrtag">
    <div class="side1box">
      <a href=""><p class="sidebox">MT</p></a>
      <a href=""><p class="sidebox">SD</p></a>
      <a href=""><p class="sidebox">AS</p></a>
      <a href=""><p class="sidebox">DE</p></a><br>
      <a href=""><p class="sidebox">+</p></a>
    </div>
    <div class="side2box me-2">
      <a href="#">
        <i class="fas fa-puzzle-piece fa-lg"></i>
        <p class="text-sm">App</p>
       </a>
      <a href="#">
        <i class="fas fa-cog fa-lg"></i><br>
        <p class="text-sm">Setting</p>
      </a>
      <a href="#">
        <i class="fas fa-question-circle fa-lg"></i>
        <p class="text-sm">Help</p>
     </a>
    </div>
  </div>
  <div class="side2">
    <div class="row ms-1">
      <div class="col-md-3">
        <img src="./images/Group5565.png" width="60" class="mt-3">
      </div>
      <h6 class="col-md-2 mt-4">Dev<br>Trung99</h6>
      <hr class="mt-2">
      <div>
        <input type="text" class="w-100 p-3 h-25 d-inline-block" style="border-radius:10px;font-size: 13px;" placeholder="Search in Management Team">
        <button  style="margin-left:-35px;background-color:#363050 ;border-radius:10px;outline:1px"><i class="fas fa-search text-2xl absolute right-3 top-2 cursor-pointer" style="color:white"></i></button>
      </div>
    </div>
    <div class="row ms-1">
        <div>
          <span>@</span>
          <span class="ms-3">Mentions and Reactions</span>
        </div>
        <div class="mt-2">
          <span><i class="fas fa-clone"></i></span>
          <span class="ms-3">Files</span>
        </div>
        <div class="mt-2">
          <span><i class="mr-1 fas fa-bookmark"></i></span>
          <span style="margin-left: 20px">Saved Items</span>
        </div>
        <div class="mt-2 me-1">
          <span><i class="fas fa-cloud-download-alt"></i></span>
          <span style="margin-left: 13px">Download</span>
        </div>
      </div>
      <hr>
    <div class="row ms-1">
      <div>
        <div @click="management = !management">
          <i class="fas " :class="[management ? 'fa-caret-up' : 'fa-caret-down']"></i>
          <span class="ms-2">Management Team</span>
        </div>
        <ul v-if="management">
          <li>
            <span ># general</span>
            <span style="float: right" class="me-5">8</span>
          </li>
          <li>
            <span ># support</span>
            <span style="float: right" class="me-5">5</span>
          </li>
          <li>
            <span># marketing</span>
            <span></span>
          </li>
          <li>
            <span># startups</span>
            <span style="float: right" class="me-5">78</span>
          </li>
          <li>
            <span># freelance</span>
            <span></span>
          </li>
        </ul>
      </div>
    </div>
    <hr>
    <div class="row ms-1">
      <div>
        <div @click="sListUser = !sListUser">
          <i class="fas " :class="[sListUser ? 'fa-caret-up' : 'fa-caret-down']"></i>
          <span class="ms-2">TEAM</span>
        </div>
        <ul v-if="sListUser">
          <li v-for="user in userList" :key="user.id">
              <i class="fas fa-user-secret me-2"></i>
              <span class="text-sm">{{ user.name.first_name + ' ' + user.name.last_name }} <span>{{ user.email === userEmail ? '(You)' : null }} {{ user.status === 'online' ? 'online' : 'offline' }}</span></span>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="side3">
    <div class=" row mt-4">
      <h6 class="ms-3 col-md-1">#general</h6>
      <i class="far fa-star col-md-2" style="margin-top:3px"></i>
      <div class="col-md-8" style="margin: -5px 0px 0px 40px;">
        <i class="mx-4 fas fa-phone-alt"></i>
        <i class="mx-4 fas fa-video"></i>
        <i class="mx-4 fas fa-user-plus"></i>
        <input type="text" style="border-radius:10px;font-size: 13px;height:35px;width: 300px;" placeholder="Search in Management Team">
        <button  style="margin-left:-35px;background-color:#363050 ;border-radius:10px;outline:1px"><i class="fas fa-search text-2xl absolute right-3 top-2 cursor-pointer" style="color:white"></i></button>
      </div>
    </div> 
    <hr style="margin-top: 30px;">
    <div class="message-list" style="scroll-behavior: smooth;">
        <div class="message-container" v-for="mess in messData" :key="mess.email" style="margin-right: 86px;">
          <div  class="message-item">
            <div class="message-img"  @click="showProfile"></div>
            <div :class="[ mess.email === userEmail ? 'float-end' : 'ms-3']" >
              <div>
                <i class="fas fa-user-secret me-2" style="color: #2B2741;font-size: 20px;"></i>
                <span style="font-weight: bolder;" :class="[ mess.email === userEmail ? 'text-primary' : 'text-success']" >{{ mess.user }}</span>
                <span style="margin-left: 8px; color: rgb(69, 160, 172)" :class="[ mess.email === userEmail ? 'text-primary' : 'text-success']" >{{ mess.time }}</span>
              </div>
              <p>
                <span class="info" :class="[ mess.email === userEmail ? 'text-primary' : 'text-success']" >{{ mess.mess }}</span>
              </p>
            </div>
          </div>
        </div>
      </div>
    <div class="chat">
      <input v-on:keyup.enter="sendMess" v-model="message"  type="text" style="border-radius:10px;font-size: 13px;height:35px;width: 85%;margin-top:480px " class="ms-3" placeholder="Input Your Message ">
    <button @click="sendMess" class="ms-1" style="background-color:#363050 ;border-radius:10px;outline:none;color:white;height:35px;width: 60px;">Send</button>
    </div>
    
  </div>
  <div class="side4">sfgfdg

  </div>

</div>
  
</template>
<script>
import { ref } from 'vue'
import { onValue, equalTo, getDatabase, limitToLast, onChildAdded, orderByChild, query, ref as firebaseRef, set } from "firebase/database"
import authStorage from './../../storage/auth.storage'
export default {
  setup() {
    const detail = ref(false)
    const profile = ref(false)
    const management = ref(true)
    const sListUser = ref(false)
    const database = getDatabase()
    const messData = ref([])
    const message = ref()
    const user = authStorage.getToken()
    const userID = ref()
    const userName = ref()
    const userEmail = ref()
    const selectedUser = ref({
      name: '',
      email: '',
      phone: '',
      id: ''
    })
    const userList = []
    if (user.user === null) {
        return
    }
    userName.value = user.user.displayName
    userEmail.value = user.user.email
    const oneUser = query(firebaseRef(database, "users"), orderByChild("email"), equalTo(userEmail.value))
    onChildAdded(oneUser, (data) => {
      userName.value = data.val().name.first_name + " " + data.val().name.last_name
      userID.value = data.key
      const connectedRef = firebaseRef(database, '.info/connected')
      const logUser = query(firebaseRef(database, "users/" + userID.value + "/status"))
      onValue(connectedRef, (snap) => {
        if (snap.val() === true) {
          set(logUser, 'online')
        } else {
          set(logUser, 'offline')
        }
        // set(logUser, 'offline')

      })
    })
    const allUser = query(firebaseRef(database, "users"))
    onChildAdded(allUser, (data) => {
      userList.push(data.val())
    })

    const firebaseMessData = query(firebaseRef(database, "messages"), limitToLast(100))
    const addMess = (key, email, mess, time, dates, user) => {
      const obj = { 
        key: key, 
        email: email, 
        mess: mess, 
        time: time, 
        user: user, 
        dates: dates 
      }
      messData.value.unshift(obj)
    }
    onChildAdded(firebaseMessData, (data) => {
      addMess(data.key, data.val().email, data.val().mess, data.val().time, data.val().dates, data.val().user)
      if (messData.value.length > 99) {
          messData.value.pop()
      }
    })
    // const date =  (new Date().getDate() < 10 ? "0" : "") + (new Date().getDate())
    // const month = (new Date().getMonth() < 10 ? "0" : "") + (new Date().getUTCMonth() + 1)
    // const year = (new Date().getFullYear() < 10 ? "0" : "") + (new Date().getFullYear())
    const hour = (new Date().getHours() < 10 ? "0" : "") + (new Date().getHours())
    const minute = (new Date().getMinutes() < 10 ? "0" : "") + (new Date().getMinutes())
    const sendMess = () => {
      console.log(messData.value)
      if (message.value === undefined || message.value.trim() === "") {
          return
      }
      const messID = new Date().getTime().toString()
      const dbRef = firebaseRef(database, "messages/" + messID)
      set(dbRef, {
        // dates: date + "/" + month + "/" + year,
        mess: message.value,
        time: hour + ":" + minute,
        user: userName.value,
        email: userEmail.value
      })
        message.value = ""
      }
      const showDetail = () => {
      detail.value = !detail.value
      profile.value = false
    }
    return {
      sListUser,
      management,
      detail,
      sendMess,
      message,
      messData,
      userEmail,
      userName,
      userList,
      showDetail,
      profile,
      selectedUser
    }
  }
};
</script>

<style>
.side1 {
  float: left;
  width: 5%;
  height: 100vh;
  background-color: #363050;
  text-align: center;
  color: white;

}
.side1 .sidebox {
  height: 35px;
  width: 35px;
  border-radius: 10px;
  background-color: antiquewhite;
  text-align: center;
  line-height: 30px;
  color: white;
  background-color: #2B2741;
}
.side1 .hrtag {
  margin-top: 14px;
}
.side1 .side1box {
  text-align: center;
  margin-left: 14px;
  font-size: 12px;
}
.side1 .side2box {
  text-align: center;
  margin-left: 1px;
  margin-top: 90px;
}
.side1 a {
  text-decoration: none;
  color: white;
}
.side2 {
  float: left;
  width: 19%;
  height: 100vh;
  background-color: #2B2741;
  color: white;
}
.side2 ul {
  list-style: none;
}
.side3 {
  float: left;
  width: 57%;
  height: 100vh;
}
.side3 .message-list{
  display: flex;
  flex-direction: column-reverse;
  list-style: none;
  overflow: auto;
  height: 460px;
  font-size: 16px;
}
.side3 .chat {
  margin-top: -458px;
  position: static;
}
.side4 {
  float: left;
  width: 19%;
  height: 100vh;
  background-color: #2B2741;
}
</style>
