<template>
<div class="side4">
  <div>
    <i class="fas fa-info-circle fa-lg mt-3 me-2 ms-3"></i><span class="h6">DETAILS</span>
    <button class="btn-close text-reset float-end mt-2" data-bs-dismiss="offcanvas" aria-label="Close" type="button" style="background-color:white"></button>
    <!-- <i class="fas fa-window-close fa-lg float-end mt-3"></i> -->
    <img src="./images/Shape.png"  style="max-width: 100%;" class="mt-3">
    <h5 style="text-align: center; color:wheat" class="mt-1">{{ userName }}</h5>
    <div class="mt-3 ms-5">
      <a href=""><img src="./images/Group5733.svg" alt="" width="40" class=" me-2"></a>
      <a href=""><img src="./images/Group5734.png" alt="" width="40" class="me-2"></a>
      <a href=""><img src="./images/Group5735.png" alt="" width="40" class="me-2"></a>
      <a href=""><img src="./images/Group5738.png" alt="" width="40"></a>
    </div>
    <div class="mt-4 ms-3">
      <p>NOTIFICATION</p><hr>
      <p>ABOUT</p><hr>
      <p>MEMBERS</p><hr>
      <p>PINNED ITEMS</p><hr>
      <p>SHARED</p><hr>      
    </div>    
  </div>
</div>
</template>

<script>
export default {
  props: {
        userName: String
    }
}
</script>
<style>
.side4 {
  width:100%;
  height: 100vh;
  background-color: #2B2741;
  color: white
}
</style>