<template>
  <div class="side2 float-start" style="width:19%">
    <div class=" header d-flex justify-content-start align-items-center" style="height:9%">
      <div class="header-left d-flex justify-content-start align-items-center w-50">
        <img src="./images/avatar.svg" width="50" class="mt-2 ms-3">
        <h6 class="text-ellip mt-3 font-monospace" style="">{{ userName }}</h6>
      </div>
      <div class="header-right d-flex justify-content-end align-items-center w-50" >
        <img src="./images/notification.svg" width="25" class=" ms-5">
        <button @click="logOut()" class="ms-3 mt-2" 
        style="width:60px;height:35px;background-color:white;color:#363050;border-radius:10px">LogOut</button>
      </div>
    </div>
    <hr>
    <div class="under-header">
      <span class="ms-2"><input type="text" style="border-radius:10px;font-size: 13px;width:90%;height:40px"
      placeholder="Search in Management Team"></span>
      <span style="margin-left:-12%"><button  style="background-color:#363050 ;border-radius:10px;outline:1px">
      <i class="fas fa-search text-2xl absolute right-3 top-2 cursor-pointer" style="color:white"></i></button>
      </span>
      <div class="d-flex flex-column mt-4 ms-3">
        <div>
          <span>@</span>
          <span class="ms-3">Mentions and Reactions</span>
        </div>
        <div class="mt-2">
          <span><i class="fas fa-clone"></i></span>
          <span class="ms-3">Files</span>
        </div>
        <div class="mt-2">
          <span><i class="mr-1 fas fa-bookmark"></i></span>
          <span style="margin-left: 20px">Saved Items</span>
        </div>
        <div class="mt-2 me-1">
          <span><i class="fas fa-cloud-download-alt"></i></span>
          <span style="margin-left: 13px">Download</span>
        </div>
      </div>
    </div>
      <hr>
    <div class="d-flex flex-column mt-4 ms-3">
        <div @click="management = !management">
          <i class="fas " :class="[management ? 'fa-caret-up' : 'fa-caret-down']"></i>
          <span class="ms-2">Management Team</span>
        </div>
        <ul v-if="management" class="py-1">
          <li class="py-1">
            <span type="button" @click="showGeneral()"># general</span>
            <span style="float: right" class="me-5">8</span>
          </li>
          <li class="py-1">
            <span type="button" @click="showSupport()"># support</span>
            <span style="float: right" class="me-5">5</span>
          </li>
          <li class="py-1">
            <span type="button" @click="showMarketing()"># marketing</span>
            <span style="float: right" class="me-5">21</span>
          </li>
          <!-- <li>
            <span type="button" @click="showApp()"># app</span>
          </li> -->
            <span type="button" data-bs-toggle="modal" data-bs-target="#staticBackdrop">+Create a new channel</span>
          <li>
          </li>
        </ul>
    </div>
    <hr>
    <div class="d-flex flex-column mt-4 ms-3 scrollbar-team" style="height:15%">
        <div @click="sListUser = !sListUser">
          <i class="fas " :class="[sListUser ? 'fa-caret-up' : 'fa-caret-down']"></i>
          <span class="ms-2">TEAM</span>
        </div>
        <ol v-if="sListUser">
          <li v-for="user in userList" :key="user.id" class="mt-2 align-middle">
            <img src="./images/avatar2.svg" width="25" class="me-1">
            <span class="text-sm text-break align-baseline">{{ user.name.first_name + ' ' + user.name.last_name }} <span>{{ user.email === userEmail ? '(You)' : null }} {{ user.status === 'online' ? '' : '' }}</span></span>
          </li>
        </ol>
    </div>
  </div>
<!-- SHOW CREATE CHANNEL -->
  <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <CreateChannel/>
  </div>
  <div v-show="general"><General/></div>
  <div v-show="support"><Support/></div>
  <div v-show="marketing"><Marketing/></div>
  <!-- <div v-show="appmini"><AppOfAppChat/></div> -->

</template>
<script>
import { ref } from 'vue'
import { onValue, equalTo, getDatabase, onChildAdded, orderByChild, query, ref as firebaseRef, set } from "firebase/database"
import authStorage from './../../storage/auth.storage'
import { getAuth, signOut  } from "firebase/auth";
import swal from 'sweetalert'
import { useRouter } from 'vue-router'
import CreateChannel from './CreateChannel.vue';
import Support from './support.vue';
import General from './general.vue';
import Marketing from './marketing.vue';
// import AppOfAppChat from './AppOfAppChat.vue';
export default {
    setup() {
        const management = ref(true);
        const sListUser = ref(true);
        const database = getDatabase();
        const user = authStorage.getToken();
        const userID = ref();
        const userName = ref();
        const userEmail = ref();
        const userList = [];
        const router = useRouter();
        const support = ref(false);
        const general = ref(true);
        const marketing = ref(false)
        // const appmini = ref(false)

        if (user.user === null) {
            return;
        }
        userEmail.value = user.user.email;
        const oneUser = query(firebaseRef(database, "users"), orderByChild("email"), equalTo(userEmail.value));
        onChildAdded(oneUser, (data) => {
            userName.value = data.val().name.first_name + " " + data.val().name.last_name;
            userID.value = data.key;
            const connectedRef = firebaseRef(database, ".info/connected");
            const logUser = query(firebaseRef(database, "users/" + userID.value + "/status"));
            onValue(connectedRef, (snap) => {
                if (snap.val() === true) {
                    set(logUser, "online");
                }
                else {
                    set(logUser, "offline");
                }
                // set(logUser, 'online')
            });
        });
        const allUser = query(firebaseRef(database, "users"));
        onChildAdded(allUser, (data) => {
            userList.push(data.val());
        });
        const logOut = () => {
            const auth = getAuth();
            signOut(auth).then(() => {
                swal("SUCCESS", "LogOut successfully", "success");
                router.push({
                    name: "Login"
                });
            }).catch(() => {
                swal("FAILED", "LogOut failed", "error");
            });
        };
        const showGeneral = () => {
          general.value = true
          support.value = false
          marketing.value = false
        }
        const showSupport = () => {
          support.value = true
          general.value = false
          marketing.value = false
        }
        const showMarketing = () => {
          marketing.value = true
          support.value = false
          general.value = false
        }
        const showApp = () => {
          // appmini.value = true
          support.value = false
          general.value = false
          marketing.value = false

        }
        
        return {
            logOut,
            sListUser,
            management,
            userEmail,
            userName,
            userList,
            support,
            showGeneral,
            general,
            marketing,
            // appmini,
            showSupport,
            showMarketing,
            showApp,
        };
    },
    components: { CreateChannel, Support, General, Marketing, }
};
</script>

<style>
.side2 {
  height: 100vh;
  background-color: #2B2741;
  color: white;
}
.side2 ul {
  list-style: none;
}
.scrollbar-team {
    overflow-y: scroll;
    overflow-x: hidden;
    /* overflow: hidden; */
}
/* style độ rộng thanh trượt chưa có thannh phủ ngoài  */
.scrollbar-team::-webkit-scrollbar {
    width: 5px;
    background-color: #7b7694;
    border-radius:10px;
}
/* tạo thanh trượt bên trong */
.scrollbar-team::-webkit-scrollbar-thumb {
    background-color: #363050;
    border-radius:10px;
}
.scrollbar-team::-webkit-scrollbar { 
    display: none; 
}
/* //chu xuong dong 3 cham */
.text-ellip {
  font-size:12px;
  width:50%;
  overflow:hidden;
  -webkit-box-orient: vertical;
  display: -webkit-box;
  overflow: hidden !important;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
}
</style>