<template>
<div class="side3 position-relative" style="width:76%;height:100vh">
    <div class="header d-flex align-items-center" style="height:9%">
      <div class="header-left d-flex justify-content-start align-items-center ms-2 w-25" >
        <h6 class="ms-3 fw-bold" style="color:#363050">#General</h6>
        <i class="far fa-star ms-2" style="margin-top:-7px"></i>
      </div>
      <div class="header-right d-flex justify-content-end align-items-center w-75 me-5">
        <i class="mx-4 fas fa-phone-alt" style="color: #80909F"></i>
        <i class="mx-4 fas fa-video" style="color: #80909F"></i>
        <i class="mx-4 fas fa-user-plus" style="color: #80909F"></i>
        <input type="text" class="form-control" style="border-radius:10px;font-size: 13px;height:35px;width: 300px;" 
          placeholder="Search in Management Team">
        <i type="button" class="fas fa-search fa-lg absolute right-3 top-2 cursor-pointer" style="color: #80909F;margin-left: -35px;"></i>
      </div>
    </div> 
    <hr>
    <div class="message-list h-75 w-100 scrollbar-message">
      <div v-for="mess in messData" :key="mess.email">
        <div class="message-info ms-4">
          <img type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight" 
          src="./images/avatar2.svg" width="47" class="float-start">
          <span style="font-weight:bold;" class="ms-1" 
          :class="[ mess.email === userEmail ? 'violet' : 'text-primary']" >{{ mess.user }}</span>
          <span class="ms-2" 
          :class="[ mess.email === userEmail ? 'violet' : 'text-primary']" >{{ mess.time }}</span>
          <p class="info ms-5 text-break" :class="[ mess.email === userEmail ? 'violet' : 'text-primary']" 
          style="width:90%" >{{ mess.mess }}</p>
        </div>
      </div>
    </div>
    <div class=" send-mess position-absolute  w-100 d-flex align-items-center" style="bottom:10px;right:0px">
      <input v-on:keyup.enter="sendMess" v-model="message"  type="text" 
      style="border-radius:10px;font-size: 16px;height:40px;width: 90%;" class="ms-3 form-control" 
      placeholder="Input Your Message">
      <div style="margin-left:-90px">
        <a type="button"><img src="./images/coding.svg" alt="" width="20" class="me-3"></a>
        <a type="button"><img src="./images/paperclip.svg" alt="" width="10" class="me-3"></a>
        <a type="button"><img src="./images/smile.svg" alt="" width="20"></a>
      </div>
      <button @click="sendMess" class="ms-4" 
      style="background-color:#363050 ;border-radius:10px;color:white;height:35px;width: 5%;"><i class="fas fa-paper-plane fa-lg me-1"></i></button>
    </div>
  <div style="width: 19%;" class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
    <Right :userName="userName" />
  </div>
</div>
</template>

<script>
import { ref } from 'vue'
import { onValue, equalTo, getDatabase, limitToLast, onChildAdded, orderByChild, query, ref as firebaseRef, set } from "firebase/database"
import authStorage from './../../storage/auth.storage'
import Right from './Right.vue';
export default {
    setup() {
        const database = getDatabase();
        const messData = ref([]);
        const message = ref();
        const user = authStorage.getToken();
        const userID = ref();
        const userName = ref();
        const userEmail = ref();
        console.log(user);
        userName.value = user.user.displayName;
        userEmail.value = user.user.email;
        const oneUser = query(firebaseRef(database, "users"), orderByChild("email"), equalTo(userEmail.value));
        onChildAdded(oneUser, (data) => {
            userName.value = data.val().name.first_name + " " + data.val().name.last_name;
            userID.value = data.key;
            const connectedRef = firebaseRef(database, ".info/connected");
            const logUser = query(firebaseRef(database, "users/" + userID.value + "/status"));
            onValue(connectedRef, (snap) => {
                if (snap.val() === true) {
                    set(logUser, "online");
                }
                else {
                    set(logUser, "offline");
                }
                // set(logUser, 'offline')
            });
        });
        const firebaseMessData = query(firebaseRef(database, "general_message"), limitToLast(100));
        const addMess = (key, email, mess, time, dates, user) => {
            const obj = {
                key: key,
                email: email,
                mess: mess,
                time: time,
                user: user,
                dates: dates
            };
            messData.value.unshift(obj);
        };
        onChildAdded(firebaseMessData, (data) => {
            addMess(data.key, data.val().email, data.val().mess, data.val().time, data.val().dates, data.val().user);
            if (messData.value.length > 99) {
                messData.value.pop();
            }
        });
        const hour = (new Date().getHours() < 10 ? "0" : "") + (new Date().getHours());
        const minute = (new Date().getMinutes() < 10 ? "0" : "") + (new Date().getMinutes());
        const sendMess = () => {
            if (message.value === undefined || message.value.trim() === "") {
                return;
            }
            const messID = new Date().getTime().toString();
            const dbRef = firebaseRef(database, "general_message/" + messID);
            set(dbRef, {
                // dates: date + "/" + month + "/" + year,
                mess: message.value,
                time: hour + ":" + minute,
                user: userName.value,
                email: userEmail.value
            });
            message.value = "";
        };
        return {
            sendMess,
            message,
            messData,
            userEmail,
            userName,
        };
    },
    components: { Right }
};
</script>

<style>
.side3 .message-list{
  list-style: none;
  font-size: 16px;
}
.side3 .message-list .violet{
  color: #433d5e;
}

.message-info:hover {
  background-color:#F0F2F4;
  border-radius: 10px;
}
/* style cho scroll trước */
.scrollbar-message {
    overflow-y: scroll;
    overflow-x: hidden;
    /* overflow: hidden; */
}
/* style độ rộng thanh trượt chưa có thannh phủ ngoài  */
.scrollbar-message::-webkit-scrollbar {
    width: 10px;
    background-color: #ffffff;
    border-radius:10px;
}
/* tạo thanh trượt bên trong */
.scrollbar-message::-webkit-scrollbar-thumb {
    background-color: #433d5e;
    border-radius:10px;
    height:150px;
}
</style>