<template>
  <div class="big">
    <Form @submit.prevent>
      <h2 class="login fw-bolded">Thêm Hoc Viên</h2>
      <Field v-model="email" type="email" class="form-control" name="email" :rules="emailRule" placeholder="Tên học viên"/>
      <p class="errnotice"><ErrorMessage class="errnotice" name="email"/></p><br>
      <Field v-model="password" type="password" class="form-control" name="password" :rules="passwordRule" placeholder="Mã học viên"/>
      <p class="errnotice"><ErrorMessage class="errnotice" name="password"/></p> <br>
            <Field v-model="password" type="password" class="form-control" name="password" :rules="passwordRule" placeholder="Email học viên"/>
      <p class="errnotice"><ErrorMessage class="errnotice" name="password"/></p> <br>
            <Field v-model="password" type="password" class="form-control" name="password" :rules="passwordRule" placeholder="Khóa học"/>
      <p class="errnotice"><ErrorMessage class="errnotice" name="password"/></p> <br>
             <Field v-model="password" type="password" class="form-control" name="password" :rules="passwordRule" placeholder="Lớp học"/>
      <p class="errnotice"><ErrorMessage class="errnotice" name="password"/></p> <br>
      <button  type="submit" class="btn btn-primary" @click="login()">Thêm Học Viên</button> 
    </Form>
  </div>
</template>
<script>
import { Field, Form, ErrorMessage ,useField } from 'vee-validate';
import * as yup from 'yup';
import { getAuth, signInWithEmailAndPassword } from 'firebase/auth';
import swal from 'sweetalert';
import { useStore } from 'vuex'
import { useRouter } from 'vue-router'
import { LOGIN } from './../../store/action-types'
import authStorage from '../../storage/auth.storage'
export default {
  components: {
    Field,
    Form,
    ErrorMessage,
  },
  setup() {
    const { value: email,} = useField('Email')
    const { value: password } = useField('Password')
    const store = useStore()
    const router = useRouter()
    const login = () =>{
      const auth = getAuth();
      signInWithEmailAndPassword(auth, email.value, password.value).then(credential => {
        const token = credential.user.accessToken
        const user = {
             uid: credential.user.uid,
             email: credential.user.email,
            //  emailVerified: credential.user.emailVerified,
            //  phoneNumber: credential.user.phoneNumber,
            //  displayName: credential.user.displayName,
            //  photoURL: credential.user.photoURL,
        }
        authStorage.setAuth(token, user)
        store.dispatch(LOGIN, {
          token: token,
          user: user
        })
        swal("SUCCESS", "Login successfully", "success")
        router.push({
          name: 'AppChat'
        })
        console.log(credential)
      })
      .catch((error) => {
        let errorCode = error.code;
        if(errorCode === 'auth/wrong-password'){
          swal("ERROR", "Password is incorrect", "error")
        }
        else if(errorCode === 'auth/user-not-found'){
          swal("ERROR", "Account does not exist", "error")
        }
        else if(errorCode === 'auth/missing-email'){
          swal("ERROR", "Please input your account", "error")
        }
        else{
          alert(errorCode)
        }
    });
    }
    return{
      email,
      password,
      login,
      passwordRule: yup.string().required("Password is required"),
      emailRule: yup.string().required("Email is required").email("Email is invalid"),
    }
  }
};
</script>
<style>
form {
  width: 40%;
}
form input{
    margin-bottom: 15px;
}
.big{
    margin-left: 35%;
}
.login{
    text-align: center;
    color: dodgerblue;
    font-family: fantasy;
}
.btn{
    width: 100%;
}
.errnotice{
  margin-top: -32px;
  color:red;
}
form input{
    margin-bottom: 45px;
}
.swal-button {
  padding: 7px 19px;
  border-radius: 5px;
  background-color: dodgerblue;
  font-size: 14px;
  margin-right: 191px;
  margin-top: -15px;
}
.swal-text {
  background-color: #FEFAE3;
  padding: 17px;
  border: 1px solid #F0E1A1;
  display: block;
  margin: 22px;
  text-align: center;
  color: #61534e;
}
A {
  margin-top:12px
}
</style>
