<template>
  <div class="big">
    <Form @submit.prevent>
      <h2 class="register">Register an account</h2>
      <Field v-model="firstName" type="text" class="form-control" name="firstName" :rules="fnameRule" placeholder="FirstName"/>
      <p class="errnotice"><ErrorMessage  name="firstName"/></p><br>
      <Field v-model="lastName" type="text" class="form-control" name="lastName" :rules="lnameRule" placeholder="LastName"/>
      <p class="errnotice"><ErrorMessage class="errnotice" name="lastName"/></p><br>
      <Field v-model="email" type="email" class="form-control" name="email" :rules="emailRule" placeholder="Email"/>
      <p class="errnotice"><ErrorMessage class="errnotice" name="email"/></p><br>
      <Field v-model="password" id="password" @keyup="checkPass()" type="password" class="form-control" name="password" :rules="passwordRule" placeholder="Password"/>
      <p class="errnotice"><ErrorMessage class="errnotice" name="password"/></p><br>
      <Field v-model="rePassword" id="cfPassword"  @keyup="checkPass()" type="password" class="form-control" name="rePassword" :rules="rePasswordRule" placeholder="Confrim Password"/>
      <p class="errnotice"><ErrorMessage class="errnotice" name="rePassword"/><br><span id='message'></span></p><br>
      <button type="submit" class="btn btn-primary"  @click="register()" :disabled="submitting" >Register</button>
      <p>You already have an account?</p>
      <router-link class="btn btn-primary" :to="{ name: 'Login' }">Login</router-link>
    </Form>
  </div>
</template>
<script>
import { getDatabase, ref as firebaseRef, set, } from "firebase/database";
import * as yup from 'yup';
import { Field, Form, ErrorMessage ,useField } from 'vee-validate';
import { ref } from 'vue';
import { getAuth, createUserWithEmailAndPassword,  } from 'firebase/auth'
import swal from 'sweetalert';
export default {
  components: {
    Field,
    Form,
    ErrorMessage,
  },
  setup(){
    const { value: firstName, } = useField('FirstName')
    const { value: lastName,  } = useField('LastName')
    const { value: email,} = useField('Email')
    const { value: password, } = useField('Password')
    const { value: rePassword,} = useField('RePassword')
    const database = getDatabase()
    const userID = new Date().getTime().toString()
    const dbRef = firebaseRef(database, 'users/' + userID)
    const submitting = ref(false)
    const checkPass = () =>{
      if (document.getElementById('password').value ==document.getElementById('cfPassword').value
      &&document.getElementById('password',).value.length!=0) {
        document.getElementById('message').style.color = 'green';
        document.getElementById('message').innerHTML = 'Matching';
      } else {
        document.getElementById('message').style.color = 'red';
        document.getElementById('message').innerHTML = "Not Matching";
      }
    }

    const createUser = (user) => {
        const data = {
        id: user.uid,
        name: {
          first_name: firstName.value,
          last_name: lastName.value,
        },
        email: email.value,
      };
        set(dbRef, data);             
    }
    const register = () => {
      const auth = getAuth()
      createUserWithEmailAndPassword(auth, email.value, password.value).then (userCredential => {
        const user = userCredential.user
        createUser(user)
        submitting.value = true
        swal("SUCCESS", "Register successfully", "success")
      }).catch(error => {
        let errorCode = error.code;
        if(errorCode === 'auth/weak-password'){
          swal("ERROR", "Password should be at least 6 characters", "error")
        }
        else if(errorCode === 'auth/invalid-email'){
          swal("ERROR", "Please input required informations", "error")
        }
        else if(errorCode === 'auth/email-already-in-use'){
          swal("ERROR", "Email already exists ", "error")
        }
        else{
          swal("ERROR", "Register failed.Please check again!", "error")
        }
      })
    }
    return{
      checkPass,
      submitting,
      register,
      firstName,
      lastName,
      password,
      rePassword,
      email,
      passwordRule: yup.string().required("Password is required"),
      rePasswordRule: yup.string().required("Password is required"),
      emailRule: yup.string().required("Email is required").email("Email is invalid"),
      fnameRule: yup.string().required("Input your first name"),
      lnameRule: yup.string().required("Input your last name"),
    }
  }
};
</script>
<style>
form {
  width: 40%;
}
form input{
    margin-bottom: 45px;
}
.big{
    margin-left: 38%;
}
form .btn{
    width: 100%;
}
.register{
    text-align: center;
    color: dodgerblue;
    font-family: fantasy;
}
.errnotice{
  color:red;
  margin-top: -47px;
  margin-bottom: -10px
}
</style>