<template>
  <div class=" w-100 footer" style="background-color: #F4F4F4;height:250px;margin-top:150px">
    <div class="w-75 float-start mt-3 container">
      <div class="float-start ms-5" style="color:gray">
        <a href="#" class="d-block">About us</a>
        <a href="#" class="d-block">Customer Service</a>
      </div>
      <div class="float-start" style="color:gray;margin-left:100px">
        <a href="#" class="d-block">Search Terms</a>
        <a href="#" class="d-block">Privacy and Cookie Policy</a>
        <a href="#" class="d-block">Advanced Search</a>
        <a href="#" class="d-block">Orders and Returns</a>
        <a href="#" class="d-block">Contact Us</a>
      </div>
    </div>
    <div class="w-25 float-start mt-3 container">
      <form action="" class="d-flex">
        <input type="text" placeholder="Enter your email address" class="form-control" required>
        <button type=submit class="btn btn-primary fw-bold ms-1 me-2">Subscribe</button>
      </form>
    </div>
  </div>
  <div class=" w-100 text-center" style="background-color: #6E716E;height:40px;color:white;line-height:40px;">
    <p class="fs-6">Copyright © 2013-present Magento, Inc. All rights reserved.</p>
</div>
</template>
<script>
export default {

}
</script>

<style>
.footer a {
  color:gray;
  text-decoration: none;
  padding-top:10px
}
.footer a:hover {
  text-decoration: underline;
  color:gray;

}
</style>