<template>
  <div class="">
    <div class="header-page">
      <div class="header-panel" style="background-color: #6e716e;color:white;height:50px;line-height:50px">
        <ul class="d-flex justify-content-end list-inline pe-5">
          <li class="me-3">Wellcome Student !</li>
          <li class="me-3">Sign in</li>
          <li class="me-3">Create an account</li>
          <li>
            <!-- <div class="dropdown">
              <a class="dropdown-toggle text-decoration-none" href="#" role="button" id="dropdownMenuLink" 
              data-bs-toggle="dropdown" aria-expanded="false" style="color:white;">USD-US Dollar</a>
              <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                <li><a class="dropdown-item" href="#">EUR-Euro</a></li>
              </ul>
            </div> -->
          </li>
        </ul>
      </div>

      
    </div>
    

  
    <!-- <span id="city1">HN</span> -->
    <!-- <ul id="items">
      <li v-for="(item, index) in dataProduct" :key="index">
        {{ `${item.name} [${item.id}] ${ item.file }` }}
      </li>
    </ul> -->
      <!-- <ul id="items">
      <li v-for="(item, index) in dataProduct" :key="index">
         {{item.name}} {{item.id}} {{item.price}} {{item.media_gallery_entries.file}}
      </li>
    </ul> -->
<!-- <img src="https://startpwa.com/media/catalog/product/m/b/mb01-blue-0.jpg" alt="Girl in a jacket" width="500" height="600"> -->

  </div>
</template>

<!-- <script>
import swal from 'sweetalert'
import { ref } from 'vue'
export default {
  setup() {	
    const dataProduct = ref()
    const axios = require('axios');
    axios.get("lumaweb.json")
      .then((res) => {
      dataProduct.value = res.data.items
      })
      .catch(() => {
        swal('ERROR!','There was an error', 'error')
      });
      console.log(dataProduct)
  return {
    dataProduct
  }
  },
};
</script> -->
<style>
.dropdown-item {
  padding: 1px 1rem !important;
}
</style>
