<template>
  <Header></Header>
  <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel" style="margin:40px 25px">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active" data-bs-interval="1000">
      <img src="https://tapita.io/pb/pub/media/spb/usr/1/oti/1623986085987/BXcQAXW3PM1623986102c0ad0c48f6000c178b71ca1f2812ce8c.png" class="d-block w-100 position-relative" alt="...">
      <div class="position-absolute text-center" style="width:500px;height:300px;background-color:white;color:black;margin-top:-150px;top:50%;left:200px">
        <h5 class="mt-5">New Collection</h5>
        <h1 class="fw-bolder">World of Denim</h1>
        <p>The best collection you can find</p>
        <button class="btn btn-home fw-bold mt-3" style="background-color: #293355; color:white">SHOP NOW</button>
      </div>
    </div>
    <div class="carousel-item" data-bs-interval="3000">
      <img src="https://tapita.io/pb/pub/media/spb/usr/1/oti/1631568424000/img1-beauty.png" class="d-block w-100" alt="...">
      <div class="position-absolute text-center" style="width:500px;height:300px;background-color:white;color:black;margin-top:-150px;top:50%;right:110px">
        <h5 class="mt-5">New Collection</h5>
        <h1 class="fw-bolder">World of Denim</h1>
        <p>The best collection you can find</p>
        <button class="btn btn-home fw-bold mt-3" style="background-color: #293355; color:white">SHOP NOW</button>
      </div>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
  </div>
  <h3 class="text-center">I'm looking for...</h3>
  <div class="row mt-5 ms-1 me-1">
    <div class="col-2 text-center">
      <a href="#" class="d-block" style="height:150px">
        <svg xmlns="http://www.w3.org/2000/svg" width="93.03" height="98.58" viewBox="0 0 93.03 98.58"><path d="M92.63,41c0-.05-2.47-5-5.42-10.15-6.15-10.85-8.53-12.46-9.31-13a88.2,88.2,0,0,0-12.32-6.38L60,4.26v0l-.56-.69C59,3,56.13,0,46.51,0S34,3,33.53,3.54L33,4.23v0l-5.53,7.17a88.2,88.2,0,0,0-12.32,6.38c-.78.53-3.16,2.14-9.32,13C2.86,36,.42,40.9.4,41l-.4.79.31.83c.12.33,3.14,8.11,16.41,9.87l1.2.16L22,47.14c1.3,17.77-1.8,37.64-4.19,46.43l-.5,1.81,1.76.65c.28.11,7.11,2.55,27.43,2.55S73.66,96.14,73.94,96l1.77-.65-.5-1.81c-1.93-7.08-4.15-20.79-4.47-34.18-.09-3.76,0-7.94.28-12.24l4.09,5.45,1.19-.16c13.28-1.76,16.3-9.54,16.42-9.87l.31-.83ZM62.12,13.68,60.17,28l-6.59-8.25c2.86-2.78,4.49-7,5.39-10.16ZM46.51,4.11c5.34,0,8,1,9.15,1.62C55,9.09,52.57,18.62,46.51,18.62c-2.95,0-5.39-2.22-7.27-6.6a32.17,32.17,0,0,1-1.88-6.3C38.46,5.13,41.14,4.11,46.51,4.11ZM34.05,9.59c.9,3.19,2.54,7.38,5.39,10.16L32.86,28l-2-14.32Zm-18,38.6C8.47,46.89,5.5,43.38,4.54,41.85c3.13-6.2,8.16-15.25,11.33-19.09,2.64,4.76,4.49,10.92,5.52,18.38Zm9.76-4.29c-1-9.79-3.26-17.76-6.74-23.75a87.64,87.64,0,0,1,8-4.06l3,22L42.87,22a9.18,9.18,0,0,0,1.59.49v72c-11.52-.1-18.74-1-22.17-1.81C24.79,82.28,27.66,61.68,25.85,43.9ZM70.74,92.66c-3.44.76-10.66,1.71-22.17,1.81V22.52A9.07,9.07,0,0,0,50.15,22l12.79,16,3-22c2.18,1,5.39,2.53,8,4.06-6.49,11.17-7.57,27.39-7.28,39.33A168,168,0,0,0,70.74,92.66Zm6.2-44.47-5.3-7c.91-6.61,2.59-13.12,5.52-18.38,3.17,3.83,8.2,12.88,11.33,19.08C87.53,43.38,84.56,46.89,76.94,48.19Z"></path><rect x="30.96" y="45.73" width="9.09" height="4.11"></rect><path d="M54.73,45.18a2.22,2.22,0,1,0,2.21,2.22A2.22,2.22,0,0,0,54.73,45.18Z"></path><path d="M54.73,58.52a2.22,2.22,0,1,0,2.21,2.21A2.21,2.21,0,0,0,54.73,58.52Z"></path><path d="M54.73,71.85a2.22,2.22,0,1,0,2.21,2.22A2.21,2.21,0,0,0,54.73,71.85Z"></path></svg>
      </a>
      <br><a href="#" class="d-block text-decoration-none fw-normal" style="color:black">SHIRT</a>
    </div>
    <div class="col-2 text-center">
      <a href="#" class="d-block" style="height:150px">
        <svg xmlns="http://www.w3.org/2000/svg" width="60.47" height="98.9" viewBox="0 0 60.47 98.9"><path d="M59.08,98.9H33.23a1.39,1.39,0,0,1-1.39-1.39V37.23H28.17V97.51a1.39,1.39,0,0,1-1.4,1.39H1.4A1.4,1.4,0,0,1,0,97.51V10.76A5.53,5.53,0,0,1,2.47,6.15V1.4A1.4,1.4,0,0,1,3.86,0H57.2a1.4,1.4,0,0,1,1.4,1.4V6.6a5.53,5.53,0,0,1,1.87,4.16V97.51A1.39,1.39,0,0,1,59.08,98.9ZM34.63,96.11h23V23.05h-.77A11.84,11.84,0,0,1,45.09,11.23V8h-7.8V24.33a5.55,5.55,0,0,1-3.09,5l-2.56,1.29v3.81h1.6a1.4,1.4,0,0,1,1.39,1.4V96.11Zm-31.84,0H25.38V35.82a1.38,1.38,0,0,1,1.39-1.39h2.07V8H15.39v3.23A11.84,11.84,0,0,1,3.57,23.05H2.8V96.11ZM31.63,8V27.5L33,26.84a2.79,2.79,0,0,0,1.55-2.51V8ZM47.88,8v3.23a9,9,0,0,0,9,9h.77V10.76A2.76,2.76,0,0,0,54.93,8ZM2.79,20.25h.78a9,9,0,0,0,9-9V8h-7a2.77,2.77,0,0,0-2.76,2.76Zm43.7-15H55.8V2.79H5.26V5.21Z"></path></svg>          </a>
      <br><a href="#" class="d-block text-decoration-none fw-normal" style="color:black">PANTS</a>
    </div>
    <div class="col-2 text-center">
      <a href="#" class="d-block" style="height:150px">
        <svg xmlns="http://www.w3.org/2000/svg" width="100" height="99.21" viewBox="0 0 100 99.21"><path d="M91.2,24.33a1.73,1.73,0,0,0-.62-1.1L77.11,12l.17-10a1.8,1.8,0,0,0-.52-1.3,1.78,1.78,0,0,0-1-.48A1.79,1.79,0,0,0,75.13,0H24.66a2,2,0,0,0-.48.07H24a1.81,1.81,0,0,0-1.8,1.84l.18,10.48L9.42,23.23a1.79,1.79,0,0,0-.63,1.1L0,79.73a1.81,1.81,0,0,0,1.5,2.06l15.53,2.46a1.8,1.8,0,0,0,2.06-1.5l4-25.33.68,40a1.81,1.81,0,0,0,1.8,1.77H73.87a1.81,1.81,0,0,0,1.8-1.77l.72-43.06,4.5,28.37A1.8,1.8,0,0,0,83,84.25l15.53-2.46a1.81,1.81,0,0,0,1.5-2.06ZM59.46,3.68,49.9,21.43,40.34,3.68Zm-23.22,0,6.91,12.83L29.33,3.68Zm27.31,0h6.91L56.64,16.51ZM3.86,78.51l.77-4.86,12,2-.76,4.8ZM26.38,36.69a1.81,1.81,0,0,0-1.68-1.77,1.79,1.79,0,0,0-1.9,1.52L17.16,72.05l-12-2,7.05-44.53L25.34,14.61A1.83,1.83,0,0,0,26,13.19l-.13-7.82L48.09,26V95.61H27.37Zm48.44-4.81a1.8,1.8,0,0,0-1.68,1.77l-1,62H51.7V26L73.61,5.68l-.12,7.07a1.77,1.77,0,0,0,.65,1.41l13.61,11.4,7.06,44.58-12,2L76.72,33.4A1.79,1.79,0,0,0,74.82,31.88Zm9.35,48.53-.75-4.75,12-2,.76,4.81Z"></path><path d="M58.91,39.66H55.3a1.8,1.8,0,1,0,0,3.6h3.61a1.8,1.8,0,1,0,0-3.6Z"></path><path d="M58.91,46.87H55.3a1.8,1.8,0,1,0,0,3.6h3.61a1.8,1.8,0,1,0,0-3.6Z"></path><path d="M58.91,54.08H55.3a1.8,1.8,0,0,0,0,3.6h3.61a1.8,1.8,0,1,0,0-3.6Z"></path><path d="M58.91,61.29H55.3a1.8,1.8,0,1,0,0,3.6h3.61a1.8,1.8,0,1,0,0-3.6Z"></path></svg>
      </a>
      <br><a href="#" class="d-block text-decoration-none fw-normal" style="color:black">COATS</a>
    </div>
    <div class="col-2 text-center">
      <a href="#" class="d-block" style="height:150px">
        <svg class="mt-4" xmlns="http://www.w3.org/2000/svg" width="99.66" height="51.36" viewBox="0 0 99.66 51.36"><path d="M97.26,39.23A15.46,15.46,0,0,0,81.93,25.64C75.38,25.64,58.48,21,49.55,12A16.07,16.07,0,0,0,45,8.68C43.41,5,41,0,35.17,0c-3.51,0-6.24,1.42-7.29,3.8C27.12,5.5,27,8.29,30,12.26a4.46,4.46,0,0,1-1.36.23c-2.43,0-4.72-.89-7.38-1.92C18.11,9.35,14.56,8,10.18,8c-4.1,0-6.81,2.53-8.07,7.52-1,3.88-1,8.81-1,13.17v7.59A5.11,5.11,0,0,0,0,39.51v6.94a4.75,4.75,0,0,0,4.7,4.91H94.09a5.58,5.58,0,0,0,5.57-5.57v-2A5.59,5.59,0,0,0,97.26,39.23Zm-25.43-12a42.49,42.49,0,0,0,10.1,1.64,12.24,12.24,0,0,1,11.88,9.37H86.38c-6.68,0-19.87-.82-33.17-1.67-.25-3.33.45-5.77,2-7s3.64-1.14,5.88-.13a9.37,9.37,0,0,0,8.3-.12A6.72,6.72,0,0,0,71.83,27.23ZM30.83,5.1C31.34,4,33,3.23,35.18,3.23,38,3.23,39.62,5.08,41,7.8c-3,0-5.45,1.49-7.54,2.72l-.51.29C31,8.45,30.25,6.4,30.83,5.1ZM10.18,11.21c3.78,0,6.89,1.2,9.89,2.37,2.84,1.1,5.52,2.14,8.55,2.14,2.36,0,4.45-1.23,6.48-2.42,3-1.76,5.65-3.33,9.2-1.33a40.31,40.31,0,0,0-9,3.89C32.57,17.32,30,18.7,28,18.79c-5.59.24-10.57-2.09-15-4.15A56.59,56.59,0,0,0,7.33,12.2,4,4,0,0,1,10.18,11.21ZM5.25,16.28A11.44,11.44,0,0,1,5.62,15a46.43,46.43,0,0,1,6.08,2.52C16.19,19.67,21.24,22,27.2,22c.32,0,.64,0,1,0,2.69-.11,5.59-1.66,8.66-3.3,3.33-1.79,7.09-3.79,10.83-4,5.54,5.35,13.54,9.19,20.72,11.51a4.58,4.58,0,0,1-.49.31,6.09,6.09,0,0,1-5.45,0C59.11,25,55.7,25.22,53.3,27c-1.75,1.32-3.64,4-3.34,9.33h0c-9.68-.62-19-1.22-25.95-1.54-5.46-8-14.4-11.66-19.52-12.77A30.78,30.78,0,0,1,5.25,16.28Zm-.86,9a30.4,30.4,0,0,1,15.44,9.33c-1.39,0-2.63-.06-3.68-.06H4.37V28.67C4.37,27.58,4.37,26.46,4.39,25.33ZM51.26,48.14H4.7a1.54,1.54,0,0,1-1.47-1.69V39.51A1.53,1.53,0,0,1,4.7,37.83H16.15c6.31,0,19.57.85,33.6,1.75L56.2,40a4.17,4.17,0,0,1,.15,2.34C56.2,42.69,55.4,44.09,51.26,48.14Zm30.19,0H55.8c2.87-3,3.34-4.11,3.52-4.52a6.12,6.12,0,0,0,.22-3.41c8.74.54,17,1,22.84,1.19A22.13,22.13,0,0,1,81.45,48.14Zm15-2.35a2.36,2.36,0,0,1-2.35,2.35H84.8a24.76,24.76,0,0,0,.81-6.68h8.48a2.35,2.35,0,0,1,2.35,2.35Z"></path><circle cx="57.11" cy="23.73" r="1.61"></circle><circle cx="51.7" cy="20.79" r="1.61"></circle><path d="M23,41.37H12.06a1.62,1.62,0,1,0,0,3.23H23a1.62,1.62,0,1,0,0-3.23Z"></path><path d="M25,27.8H37.29a1.61,1.61,0,1,0,0-3.22H25a1.61,1.61,0,0,0,0,3.22Z"></path><path d="M26.69,31.11a1.62,1.62,0,0,0,1.62,1.61H40.58a1.62,1.62,0,0,0,0-3.23H28.31A1.63,1.63,0,0,0,26.69,31.11Z"></path><circle cx="46.81" cy="17.41" r="1.61"></circle></svg>
      </a>
      <br><a href="#" class="d-block text-decoration-none fw-normal" style="color:black">SHOES</a>
    </div>
    <div class="col-2 text-center">
      <a href="#" class="d-block" style="height:150px">
        <svg xmlns="http://www.w3.org/2000/svg" width="91.8" height="99.95" viewBox="0 0 91.8 99.95"><path d="M86.19,52.69h-9V47.24a12.44,12.44,0,0,0-12-12.42V22.73a6.41,6.41,0,0,0-6.4-6.4H47.35V14.74a14.74,14.74,0,0,0-29.48,0v1.59H6.4A6.41,6.41,0,0,0,0,22.73V93.55A6.41,6.41,0,0,0,6.4,100H39.69A2.09,2.09,0,0,0,41,99.46a5.58,5.58,0,0,0,2.28.49H86.19a5.62,5.62,0,0,0,5.61-5.62v-36A5.62,5.62,0,0,0,86.19,52.69ZM73,47.24v5.45H56.55V47.24a8.21,8.21,0,0,1,16.41,0ZM22.1,14.74a10.51,10.51,0,1,1,21,0v1.59h-21V14.74ZM6.4,20.56H17.87v2.23a8.48,8.48,0,1,0,4.23,0V20.56h21v2.23a8.48,8.48,0,1,0,4.23,0V20.56H58.82A2.17,2.17,0,0,1,61,22.73V35.39a12.46,12.46,0,0,0-8.67,11.85v5.45h-9A5.62,5.62,0,0,0,37.7,58.3V79.9H4.23V22.73A2.17,2.17,0,0,1,6.4,20.56ZM20,32.21a2.12,2.12,0,0,0,2.12-2.12V27.33a4.25,4.25,0,1,1-4.23,0v2.76A2.11,2.11,0,0,0,20,32.21Zm25.25,0a2.12,2.12,0,0,0,2.12-2.12V27.33a4.25,4.25,0,1,1-4.23,0v2.76A2.11,2.11,0,0,0,45.23,32.21Zm-41,61.34V84.13H37.7v10.2a5.67,5.67,0,0,0,.17,1.38H6.4A2.17,2.17,0,0,1,4.23,93.55Zm83.34.78a1.38,1.38,0,0,1-1.38,1.38H43.32a1.38,1.38,0,0,1-1.38-1.38v-36a1.38,1.38,0,0,1,1.38-1.38h9v4.67a2.12,2.12,0,1,0,4.24,0V56.92H73v4.67a2.12,2.12,0,1,0,4.23,0V56.92h9a1.38,1.38,0,0,1,1.38,1.38Z"></path></svg>
      </a>
      <br><a href="#" class="d-block text-decoration-none fw-normal" style="color:black">BAGS</a>
    </div>
    <div class="col-2 text-center">
      <a href="#" class="d-block" style="height:150px">
        <svg xmlns="http://www.w3.org/2000/svg" width="99" height="76.96" viewBox="0 0 99 76.96"><path d="M99,54c0-7.89-8.58-14.31-19.12-14.31H73.31a2.25,2.25,0,1,0,0,4.5h6.57c7.92,0,14.61,4.5,14.61,9.81,0,2.45-1.6,4.85-4.36,6.68a9.5,9.5,0,0,0-8.61-5.51H65.1a9.5,9.5,0,0,0-9.45,8.64H49.77a9.51,9.51,0,0,0-9.45-8.64H23.9a9.51,9.51,0,0,0-8.62,5.51,9.94,9.94,0,0,1-4-4.57,2.25,2.25,0,1,0-4.22,1.58A14.77,14.77,0,0,0,14,65.19l.38.2v2.08A9.49,9.49,0,0,0,23.9,77H40.32a9.5,9.5,0,0,0,9.45-8.64h5.88A9.49,9.49,0,0,0,65.09,77H81.52A9.5,9.5,0,0,0,91,67.47V65.4C96,62.71,99,58.5,99,54ZM45.3,67.47a5,5,0,0,1-5,5H23.9a5,5,0,0,1-5-5V64.66a5,5,0,0,1,5-5H40.32a5,5,0,0,1,5,5Zm41.2,0a5,5,0,0,1-5,5H65.1a5,5,0,0,1-5-5V64.66a5,5,0,0,1,5-5H81.52a5,5,0,0,1,5,5Zm-2-1.76v.71a2.25,2.25,0,0,1-4.5,0v-.27a3.21,3.21,0,0,0-1.35-.27H68a2.26,2.26,0,0,1,0-4.51H78.64C82,61.37,84.49,63.24,84.49,65.71ZM40,63.63a2.25,2.25,0,0,1-2.25,2.25H27a3.11,3.11,0,0,0-1.34.27v.27a2.26,2.26,0,0,1-4.51,0v-.71c0-2.47,2.52-4.34,5.85-4.34H37.7A2.26,2.26,0,0,1,40,63.63ZM59.64,52a2.39,2.39,0,0,0,.53.06,2.23,2.23,0,0,0,.88-.18,2.2,2.2,0,0,0,1.1-1c.17-.31.33-.62.49-.94l.08-.17c.13-.26.26-.53.38-.8l.06-.14c.13-.28.26-.56.38-.84l0-.08c.13-.31.25-.62.37-.93h0a31.78,31.78,0,0,0,1.23-3.84.53.53,0,0,0,0-.12,35.43,35.43,0,0,0,1.09-8.72C66.29,15.36,51.42,0,33.15,0S0,15.36,0,34.25A35.43,35.43,0,0,0,1.09,43l0,.12a35.77,35.77,0,0,0,1.23,3.84h0c.12.31.25.62.38.93l0,.08c.12.28.24.56.37.84l.06.14c.12.27.25.54.38.8a1.3,1.3,0,0,1,.08.17c.16.32.32.63.49.94a2.08,2.08,0,0,0,.46.59,2.26,2.26,0,0,0,1.68.6A2.38,2.38,0,0,0,6.65,52a114,114,0,0,1,26.5-3A113.9,113.9,0,0,1,59.64,52Zm-29.8-7.48h-.09a118.74,118.74,0,0,0-22.4,2.69,29.65,29.65,0,0,1-1.22-3,113,113,0,0,1,27-3.14,113,113,0,0,1,27,3.14,29.59,29.59,0,0,1-1.21,3,119.74,119.74,0,0,0-25.8-2.73C32,44.44,30.94,44.45,29.84,44.48Zm3.31-40c15.79,0,28.64,13.34,28.64,29.74a30.88,30.88,0,0,1-.5,5.52,117.72,117.72,0,0,0-28.14-3.29A117.66,117.66,0,0,0,5,39.77a30.88,30.88,0,0,1-.5-5.52C4.51,17.85,17.35,4.51,33.15,4.51Z"></path></svg>
      </a>
      <br><a href="#" class="d-block text-decoration-none fw-normal" style="color:black">ACCESSORIES</a>
    </div>
  </div>
  <div class="container mt-5">
    <div class="d-flex ">
      <div class="float-start position-relative">
        <img src="https://tapita.io/pb/pub/media/spb/usr/1/oti/1631593368629/banner3-beauty.png" width="595" height="595" alt="">
        <div class="position-absolute start-50 translate-middle" style="bottom:1px">
          <button class="btn btn-shop fw-bold mt-3">SHOP HIGH FASHION</button>
        </div>
      </div>
      <div class="float-start position-relative">
        <img src="https://tapita.io/pb/pub/media/spb/usr/1/oti/1631593255598/brush.png" width="595" height="595"  alt="">
        <div class="position-absolute start-50 translate-middle" style="bottom:1px">
          <button class="btn btn-shop fw-bold mt-3">SHOP BEAUTY</button>
        </div>
      </div>
    </div>
    <div class="d-flex">
      <div class="float-start position-relative">
        <img src="https://tapita.io/pb/pub/media/spb/usr/1/oti/1631593085392/banner2-beauty.png" width="595" height="595" alt="">
        <div class="position-absolute start-50 translate-middle" style="bottom:1px">
          <button class="btn btn-shop fw-bold mt-3">SHOP CASUAL WEAR</button>
        </div>
      </div>
      <div class="float-start position-relative">
        <img src="https://tapita.io/pb/pub/media/spb/usr/1/oti/1639040838474/FCG-EditorialBERLIN-CALLING-14.jpg" width="595" height="595"  alt="">
        <div class="position-absolute start-50 translate-middle" style="bottom:1px">
          <button class="btn btn-shop fw-bold mt-3">SHOP FORMAL WEAR</button>
        </div>
      </div>
    </div>  
  </div>
  <div class="explore d-flex flex-column align-items-center" style="color:white;background-color: #293355;height:300px;margin:40px 25px;">
    <p class="fs-3 mt-5">Explore our Membership</p>
    <p>Get that new clothes month with a monthly membership. We have a plan that's right for you and your budget.</p>
    <button class="btn btn-learn-more fw-bold mt-3">LEARN MORE</button>
  </div>
  <div class="feature">
    <h3 class="text-center">Featured Product</h3>
    <a href="#" class="text-center d-block text-decoration-none fw-bold mt-4" style="color: #C07A2D">VIEW DETAIL</a>
    <div class="container mt-5 position-relative">
      <img class="w-100" src="https://tapita.io/pb/pub/media/spb/usr/1/oti/1639046404134/pexels-alexey-demidov-10042306-1.jpg" height="400" alt="">
      <div class="position-absolute text-center" style="width:500px;height:240px;background-color:white;color:black;margin-top:-120px;top:50%;left:100px">
        <h5 class="mt-5">Featured Product</h5>
        <h1 class="fw-bolder">World of Denim</h1>
        <p>The best collection you can find</p>
        <button class="btn btn-home fw-bold mt-3" style="background-color: #293355; color:white">SHOP NOW</button>
      </div>
    </div>
  </div>
  <div class="d-flex" style="margin: 40px 25px">
    <div class="left-text w-50 text-center position-relative" style="background-color: #E0E2EA;height:360px;">
      <div class="position-absolute top-50 start-50 translate-middle">
        <h5>Tailor-made with passion</h5>
        <p class="mt-4">We use only the very best materials and manufacturers.If our product rips or frays, we’ll make it right.</p>
        <a href="#" class="d-block text-decoration-none fw-bold mt-5" style="color: #C07A2D">LEARN MORE</a>
      </div>
    </div>
    <div class="right-text w-50 text-center position-relative" style="background-color: #EFE8E0;height:360px;">
      <div class="position-absolute top-50 start-50 translate-middle">
        <h5>Chat with an expert</h5>
        <p class="mt-4">We use only the very best materials and manufacturers.If our product rips or frays, we’ll make it right.</p>
        <a href="#" class="d-block text-decoration-none fw-bold mt-5" style="color: #C07A2D">LEARN MORE</a>
      </div>
    </div>
  </div>
  <div class="container mt-5">
    <div class="row">
      <img class="col-6 collect-image" src="https://tapita.io/pb/pub/media/spb/usr/1/oti/1631568424000/img1-beauty.png" alt="">
      <div class="new-collection col-6 text-center position-relative">
        <div class="position-absolute top-50 start-50 translate-middle">
          <p>NEW COLLECTION</p>
          <h2 class="mt-5 mb-3">Jungleries</h2>
          <p class="w-100">Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates repudiandae sint et molestiae non recusandae</p>
          <button class="btn btn-home fw-bold mt-3" style="background-color: #293355; color:white;width:300px!important">SHOP THE COLLECTION</button>
        </div>
      </div>
    </div>
    <div class="row" style="margin-top:150px">
      <div class="new-collection col-6 text-center position-relative">
        <div class="position-absolute top-50 start-50 translate-middle">
          <p>NEW COLLECTION</p>
          <h1 class="mt-5 mb-3">Elegant & Sexy</h1>
          <p class="w-100">Maxime placeat facere possimus voluptas assumenda sed quia non numquam eius modi tempora incidunt.</p>
          <button class="btn btn-home fw-bold mt-3" style="background-color: #293355; color:white;width:300px!important">SHOP THE COLLECTION</button>
        </div>
      </div>
      <img class="col-6 collect-image" src="https://tapita.io/pb/pub/media/spb/usr/1/oti/1631568424000/img1-beauty.png" alt="">
    </div>
    <div class="row text-center" style="margin-top:100px">
      <h3>We are SimiCart</h3>
      <p class="fw-bold mt-3" style="color: #C07A2D">ABOUT US</p>
      <p>Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? 
        Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum 
        fugiat quo voluptas nulla pariatur. Nemo enim ipsam voluptatem quia voluptas sit aspernatur.</p>
      <h3 class="mt-5">Follow our Instagram</h3>
      <p class="fw-bold mt-3" style="color: #C07A2D">FOLLOW US @SIMICART</p>
    </div>
  </div>
  <Footer></Footer>

  


</template>

<script>
import Footer from './Footer';
import Header from "./Header";
export default {
    components: { Header,Footer }
}
</script>

<style>

.btn-home {
  color: #fff;
  background-color: #293355;
  width: 200px
}
.btn-home:hover {
  color: gray !important;
  background-color: #fff !important;
  border-color: gray;
}
.btn-shop {
  background-color: white!important;;
  width: 300px;
  height: 60px
}
.btn-shop:hover {
  color: white !important;
  background-color: #293355 !important;
}
.btn-learn-more {
  background-color: white!important;;
  width: 300px;
  height: 60px
}
.btn-learn-more:hover {
  background-color: #c5c9d4 !important;
}
.collect-image:hover {
  transform: scale(1.1);
}
.collect-image:hover {
  transition: transform .50s; /* Animation */
}

</style>