<template>
  <Header/>
  <div class="category container" style="margin-top:50px">
    <div class="float-start left-category" style="width:20%;">
      <SideBar/>
    </div>
    <div class="float-start right-category" style="width:80%;">
      <div class="row" style="margin-left:0px!important">
        <div class="col-3 product text-center" style="height:400px" v-for="(item, index) in dataProduct" :key="index">
          <img :src="item.file" width="200" alt="">
          <p style="height:35px">{{ item.name }}</p>
          <p class="fw-bold">${{ item.price }}.00</p>
          <div class="">ok</div>
        </div>
      </div>
    </div>
  </div>
  <div style="clear:both">
    <Footer/>
  </div>
 
</template>

<script>
import Header from "./Header";
import Footer from "./Footer";
import swal from 'sweetalert'
import { ref } from 'vue'
import SideBar from "./SideBar.vue";
export default {
    components: { Header, Footer, SideBar },
  setup() {	
    const dataProduct = ref()
    const axios = require('axios');
    axios.get("lumaweb.json")
      .then((res) => {
      dataProduct.value = res.data.items
      })
      .catch(() => {
        swal('ERROR!','There was an error', 'error')
      });
      console.log(dataProduct)
  return {
    dataProduct
  }
  },
}
</script>

<style>
.right-category .product:hover {
  box-shadow: 2px 0px 5px grey;
  border: 1px solid gray;
}
</style>