<template>
  <p class="fw-normal fs-1">Bags</p>
  <p class="mt-5">Shopping Options</p>
  <hr>
  <h6 class="fw-bold">PRICE</h6>
  <hr>
  <p class="fs-6 mt-3">Compare Products</p>
  <p class="fs-6 mt-5"> My Wish List</p>
</template>

<script>
export default {

}
</script>

<style>

</style>